/* Reset and general styling */
* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

body {
    background-image: url(Images/backg.png);
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
}

/* Header styling */
.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.nav {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav ul li {
    /* Navigation item styling */
    margin: 0 15px;
    position: relative;
    font-weight: bold;
    color: #023020;
    font-size: 18px;
    text-shadow: 0px 2px 5px #ECE3CE;
}

.nav ul li a {
    text-decoration: none;
    color: #023020;
    text-transform: uppercase;
    font-weight: 700;
}

.nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #023020;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}

.user-buttons {
    display: flex;
    align-items: center;
}

.login-btn {
    border: 3px solid var(--main-color);
    padding: 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #023020;
    font-weight: bold;
    border: 3px solid #023020;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
}

.register-btn {
    background-color: var(--main-color);
    padding: 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: 3px solid #023020;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #023020;
}

.register-btn:hover {
    border: 3px solid #ECE3CE;
    background-color: #ECE3CE;
    color: #023020;
}
.login-btn:hover {
    background-color: #ECE3CE;
}

.user-buttons {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease 0.3s;
}

.profile-photo:hover {
    box-shadow: 0 0 0 5px #ECE3CE;
}

/* Main content styling */
.content-container {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}

/* About Me section styling */
.about-info {
    font-size: 25px;
    line-height: 1.6;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: #ECE3CE; /* Change the text color to white or another contrasting color */
    font-weight: 450; /* Increase font weight */
}

/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    backdrop-filter: blur(100px);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    
}

th {
    background-color: #f2f2f2;
}

/* Table container styling */
.table-container {
    display: flex;
}

/* Educational Background section styling */
.education {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
}

.education h2 {
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
    color: #ECE3CE;
}

.education p {
    margin-top: 10px;
    font-size: 20px;
    color: #ECE3CE; /* Change the text color to white or another contrasting color */
    font-weight: 450; /* Increase font weight */
}

.education ul li {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #ECE3CE; /* Change the text color to white or another contrasting color */
    font-weight: 450; /* Increase font weight */
}

/* Hobbies section styling */
.hobbies {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
}

.hobbies h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #ECE3CE;
}

.hobbies ul li {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #ECE3CE; /* Change the text color to white or another contrasting color */
    font-weight: 450; /* Increase font weight */
}

/* Facts About Me section styling */
.facts {
    flex: 1;
    margin-bottom: 20px;
    margin-right: 10px;
    
}

.facts h2 {
    font-size: 20px;
    text-align: center;
    margin-top: -95px;
    color: #ECE3CE;
}

.facts ul li {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 20px;
    color: #ECE3CE; /* Change the text color to white or another contrasting color */
    font-weight: 450; /* Increase font weight */
}


/* Quote section styling */
.quote {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px 50px 30px;
    
}

.quote blockquote {
    margin-top: -70px;
    font-size: 25px;
    background-color: #023020;
    color: #ECE3CE;
    padding: 15px;
}

.quote p span {
    font-style: bold;
    
}
.highlighted-text {
    background-color: #023020; 
    padding: 5px; 
    width: 150px;
    color: #ECE3CE;
  }
  h2.highlighted-text {
    background-color: #023020; 
    padding: 5px; 
  }
  